.backgroundimg {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 100vw;
	height: 100vh;
	background-image: url(playerbackground.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.title {
	position: absolute;
	top: 1vw;
	left: 4.5vw;
	margin: auto;
	align-content: center;
	color: rgb(255, 255, 255);
	font-family: 'Open Sans', sans-serif;
	font-size: 6.5vw;
	font-weight: 1500;

}

.playerbox {
	position: absolute;
	top: 12vw;
	left: 15vw;
	width: 25vw;
	height: 75vh;
	background-color: rgb(255, 255, 255);
	border-radius: 5%;
	border-color: rgb(0, 0, 0);
}

.playerimg {
	position: absolute;
	background-image: url(moore.png);
	width: 20vw;
	height: 40vh;
	top: 2.5vh;
	left: 2.5vw;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.playerinfo {
	position: relative;
	top: 44vh;
	left: 3.5vw;
	font-family: 'Open Sans', sans-serif;
	font-size: 15pt;
	line-height: 2.65vw;
	color: rgb(0, 0, 0);

}

.statchart {
	position: absolute;
	background-image: url(SLWRstatchart.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 25vw;
	height: 35vh;
	top: 12vw;
	left: 60vw;
}

.seasonstats {
	position: absolute;
	top: 60vh;
	left: 57vw;
	font-family: 'Open Sans', sans-serif;
	font-size: 35pt;
	font-weight: 700;
	line-height:  2.65vw;
	color: rgb(255, 255, 255);
}

.seasoninfo {
	position: absolute;
	top: 68.5vh;
	left: 57vw;
	font-family: 'Open Sans', sans-serif;
	font-size: 15pt;
	line-height: 3vw;
	color: rgb(255, 255, 255);
}

.helmet {
	position: absolute;
	background-image: url(helmet.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 6vw;
	height: 10vh;
	top: 87vh;
	left: 4.5vw;
}